@import "@/styles/variables.scss";

$content-padding: 15rem;

.section {
    @include box(100vw, auto, $max-width: 100%);
    padding: $content-padding 0;

    background-color: color(bg-blue-400);
}

.content-container {
    @include box(100rem, auto);
    @include flexbox(column, space-evenly, center, $y-gap: 3rem);

    margin: 0 auto;

    // background-color: orange;

    .logo-container {
        $img-size: 20rem;

        @include box($img-size, $img-size);
        position: relative;

        // img {
        //     object-fit: contain;
        // }
    }

    .title-container {
        h1 {
            text-align: center;
            font-size: 5.5rem;
            word-spacing: 1rem;
            font-weight: bold;
        }
    }

    .description-container {
        padding: 0rem 5rem;
        p {
            text-align: center;
            font-size: 2rem;
            line-height: 5rem;
        }
    }

    h1,
    p {
        // color: black;
    }

    .join-button-container {
        @include box(25rem, 7rem);
        @include flexbox(row, center, center);
        border-radius: 999rem;

        background-color: color(some-random-button-color);

        p {
            text-align: center;
            font-size: 4.5rem;
            font-weight: bold;
            word-spacing: 0.75rem;
        }
    }
}
