@import "@/styles/variables.scss";

$logo-padding: 0.75rem;
$navbar-side-padding: 2rem;

.nav {
  @include box(100%, $navbar-height);
  @include flexbox();
  background-color: color(navbar-background);
}

.left-container {
  @include box(max(25rem, 20vw + $navbar-side-padding), 100%);
  @include flexbox($x-gap: 2rem);
  padding: $logo-padding 0 $logo-padding $navbar-side-padding;
  // background-color: red;

  .logo-container {
    $img-size: calc($navbar-height - 2 * $logo-padding);

    @include box($img-size, $img-size);
    position: relative;

    img {
      object-fit: contain;
    }
  }

  .brand-name-container {
    @include flexbox(column, center);

    h1 {
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
    }
  }
}

.middle-container-landing {
  @include box(calc(50vw - 2 * $navbar-side-padding), 100%);

  // background-color: green;
}

.right-container-landing {
  @include box(calc(30vw + $navbar-side-padding), 100%);
  @include flexbox(row, flex-end, center, $x-gap: 3rem);
  padding-right: $navbar-side-padding;

  // background-color: cyan;

  div {
    @include box(12rem, 65%);
    @include flexbox(row, center, center);
    border-radius: 999rem;

    background-color: color("white");

    a {
      font-size: 1.6rem;
      font-weight: bold;
      word-spacing: 0.1rem;
    }
  }
}

.middle-container-app {
}

.right-container-app {
}
