@import "@/styles/variables.scss";

.right-container-landing {
  align-self: flex-end;
  @include box(auto, 100%);
  @include flexbox(row, flex-end, center, $x-gap: 2rem);
  padding-right: $navbar-side-padding;

  // background-color: cyan;

  $icon-size: calc($navbar-height - 2 * $icon-padding);

  a {
    @include box($icon-size, $icon-size);

    * {
      @include box(100%, 100%);
    }
  }

  div {
    @include box($icon-size, $icon-size);

    position: relative;

    img {
      // object-fit: contain;
      cursor: pointer;
    }
  }
}
