@import "@/styles/variables.scss";

.section {
    @include box(100vw, $page-height-with-navbar);
    @include flexbox();

    background-color: $app-page-bg-color;

    $left-nav-width: 40rem;
    $left-nav-max-width: 40vw;
    $list-max-width: 10rem;

    .main {
        display: grid;
    }

    .left-nav-container {
        @include box($left-nav-width, 100%, $max-width: $left-nav-max-width);

        background-color: rgba($color: green, $alpha: 0.5);
    }

    .chat-container {
        @include box(calc(100vw - $left-nav-width), 100%, $min-width: calc(100vw - $left-nav-max-width));

        background-color: rgba($color: red, $alpha: 0.5);

        display: flex;
        flex-direction: column-reverse;
        overflow-y: scroll;
        overflow-wrap: break-word;
    }

    .input-container {
        background-color: rgba($color: gray, $alpha: 0.5);
        width: 100%;
    }

    .user-list-container {
        @include box($left-nav-width, 100%, $max-width: $list-max-width);
        background-color: rgba($color: yellow, $alpha: 0.5);
        width: 100%;
    }
}