@import "@/styles/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 67.5%;
  -webkit-text-size-adjust: none; /* for iOS Safari */
  text-size-adjust: none; /* for other mobile browsers */
}

body {
  font-size: 1.6rem;
}

img,
svg,
video,
canvas,
audio,
video,
iframe {
  display: block;
}

menu,
ol,
ul {
  padding-left: 0;
}

a,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}

label,
button,
select,
summary,
[type="radio"],
[type="submit"],
[type="checkbox"] {
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
