@use "sass:map";
@use "sass:string";

@mixin box($width, $height: null, $min-width: null, $min-height: null, $max-width: null, $max-height: null) {
  @if $width {
    width: $width;
  }

  @if $height {
    height: $height;
  }

  @if $min-width {
    min-width: $min-width;
  }
  @if $min-height {
    min-height: $min-height;
  }

  @if $max-width {
    max-width: $max-width;
  }

  @if $max-height {
    max-height: $max-height;
  }
}

@mixin flexbox($direction: row, $justify: flex-start, $align: stretch, $x-gap: normal, $y-gap: normal) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  row-gap: $y-gap; // gap between rows
  column-gap: $x-gap; // gap between columns
}

$colors: (
  "bg-navbar": "#8EB8E5",
  "bg-blue-600": "#8197CD",
  "bg-blue-400": "#D0DDEF",
  "bg-blue-100": "#ECF3FD",
  "blue-accent": "#004AAD",
  "white": "#FBFCFF",
  "login-button": "#93CEE9",
  "some-random-button-color": "#A1B5D8",
);

@function color($color) {
  @return string.unquote(map.get($colors, $color));
}

/// ========== Navbar Variables

$navbar-height: 6.4rem;
$icon-padding: 0.75rem;
$navbar-side-padding: 2rem;

// ========== Landing Page Variables

$content-padding: 8rem;

// ========== Page Variables

$page-height-with-navbar: calc(100vh - $navbar-height);
// $page-height: calc(100vw * 9 / 16);
